<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to blog</title>
</head>
<body>
    <h1>Example Blog Website</h1>
    <!-- post post form -->
    <ul>
        {% for p in post_list %}
        <li><a href="{% url 'post' pk=p.id %}">{{ p.title }}</a></li>
        {% endfor %}
    </ul>
    <p>Write a new post...</p>
    <input type="text" form="post-input" name="title" placeholder="title"><br>
    <textarea form="post-input" name="content" wrap="soft" placeholder="content"></textarea>
    <form id="post-input" method="POST" action="{% url 'post-post' %}">
        {% csrf_token %}
        <button type="submit">submit</button>
    </form>

</body>
</html>