{% extends 'blog/layout.html' %}

{% block body %}
    {% for p in post_list %}
        <div class="row">
            <div class="col-sm-12">
                <div class="card" style="border:none;">
                    <div class="card-block">
                        <h4 class="card-title">{{ p.title }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{ p.author.username }} -- {{ p.posted_at }}</h6>
                        <p class="card-text">{{ p.content }}</p>
                        <a href="{% url 'post' pk=p.id %}" class="btn btn-primary">View Detail</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                Write a new post
              </div>
              <div class="card-block">
                  <form id="post-input" method="POST" action="{% url 'post-post' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="post-title">Title</label>
                        <input type="text" class="form-control" name="title" id="post-title">
                    </div>
                    <div class="form-group">
                        <label for="post-content">Content</label>
                        <textarea class="form-control" id="post-content" rows="3" name="content"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">submit</button>
                </form>
              </div>
            </div>
        </div>
    </div>

{% endblock %}